@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    border-radius: 10px;
}
body{
    background-color:#231942 ;
}

.App>.nav-bar {
    width:600px;
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #b189e1;
}
.App>.nav-bar>nav>ul {
    display: flex;
    padding: 0;
    justify-content: space-around;

}

.App>.nav-bar>nav>ul>li {
    padding: 10px 25px;
    list-style: none;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif sans-serif;
    color: #fff;
    margin: 10px;
}

.todoGroup {
    padding-top: 10px;
    width: 450px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1A1A40;
    overflow-y: auto;
}

.add-button {
    margin-left: 5px;
    padding: 10px 10px;
    font-size: 13px;
    text-align: center;
    background-color: #be95c4;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;

}

.add-button:hover {
    background-color: #e0b1cb;
    color: #fff;
}

.item-input {
    width: 250px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    color: #fff;
    margin-top: 20px;
    background-color:rgba(178, 85, 255, 0.2) ;
}

.item-input:hover {
    border-color: #007bff;
}

.item-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.todo-item {
    display: flex;
    justify-content: space-between;
    border: 1px gainsboro solid;
    border-radius: 5px;
    width: 400px;
    margin: 5px;
    padding: 10px 15px;
    text-align: start;
    font-size: 13px;
    background-color:#5e548e;

}

.done-button {
    float: right;
    background-color: #2e115a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: -5px;
}

.done-button:hover {
    background-color: #2e115a;
}

.done {
    text-decoration: line-through;
}

#todoText {
    width: 80%;

}
.items {
    width: 460px;
    height: 600px;
    overflow-y: auto;
    
}
.todo-detail, .help-page{
    width: 460px;
    height: 600px;
    overflow-y: auto;
}
/* width */
.items::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .items::-webkit-scrollbar-track {
    background-color: #000000;
  }
  
  /* Handle */
  .items::-webkit-scrollbar-thumb {
    background: #5e548e;
    size: 4px;
  }
  
.modal-input{
    width: 250px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    margin-top: 20px;
}
.delete-btn:hover{
    background-color: #e0b1cb;
}
.edit-btn:hover{
    background-color: #231942;
}