.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   }
    
   .App > .nav-bar > nav > ul {
    display: flex;
    justify-content: center;
   }
    
   .App > .nav-bar > nav > ul > li {
    padding: 10px;
    list-style: none;
   }

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    border-radius: 10px;
  }

  
.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Poppins', sans-serif sans-serif;
    background: #1A1A40;
    color: #fff;
    margin: 10px;
}
.todoGroup {
  padding-top: 10px;
  width: 450px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1A1A40;
  overflow-y: auto;
}

.add-button {
    margin-left: 5px;
    padding: 10px 10px;
    font-size: 13px;
    text-align: center;
    background-color: #8758ff;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    
}

.add-button:hover {
    background-color: #007bff;
    color: #fff;
}

.item-input {
    width: 250px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    margin-top: 20px;
}

.item-input:hover {
    border-color: #007bff;
}

.item-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.todo-item {
    border: 1px gainsboro solid;
    border-radius: 5px;
    width: 400px;
    margin: 5px;
    padding: 10px 15px;
    text-align: start;
    font-size: 13px;
    background-color: #6236d0;
}

.done-button {
    float: right;
    background-color: #2e115a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: -5px;
}

.done-button:hover {
    background-color: #2e115a;
}

.done {
    text-decoration: line-through;
}
